.wrapper {
  height: 40vh;
}

.input {
  margin-bottom: 1.5rem;
}

.input h2 {
  font-size: 1.5rem;
}

.input label {
  display: block;
  font-weight: 700;
  color: #808080;
  margin-bottom: 0.5rem;
}

.input input {
  display: block;
  border-radius: 4px;
  border: 1px solid #4a4a4a;
  font: inherit;
  width: 65%;
  height: 2rem;
  padding: 1rem;
  text-align: left;
}

.input div:nth-last-child(-n + 2) {
  width: 50%;
  display: inline-block;
}

.input div:nth-last-child(-n + 2) input {
  width: 95%;
  display: inline-block;
}
