:root {
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

.stepper__item {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  color: lightgrey;
}

.stepper__item:not(:last-child) {
  flex: 1;
}

.stepper__step {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  border: 1px solid lightgrey;
  z-index: 10;
  color: transparent;
  font-size: 0.85rem;
}

.stepper__item.done .stepper__step::before {
  content: "";
  width: 10px;
  height: 5px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}

.stepper__item.done .stepper__step::after {
  content: "";
  height: 30px;
  width: 30px;
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}

.stepper__item:not(:last-child)::after {
  content: "";
  position: relative;
  flex: 1;
  height: 2px;
  background-color: #e0e0e0;
  margin-right: 1.5rem;
}

.stepper__item.done::after {
  background-color: black;
}

.stepper__item.inactive .stepper__step,
.stepper__item.inactive .stepper__title {
  color: lightgrey;
  border-color: lightgrey;
}

.stepper__item.active .stepper__step,
.stepper__item.active .stepper__title {
  color: black;
  border-color: black;
}

.stepper__item.done .stepper__title {
  color: black;
}
